$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
    @media (min-width: 0) and  (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

:export {
    tabletWidth: $tablet-width;
    desktopWidth: $desktop-width;
}
